.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
}

.admonition.note {
    color: #3a87ad;
    background-color: #d9edf7;
    /*border-color: #bce8f1;*/
}

.admonition.warning {
    color: #c09853;
    background-color: #fcf8e3;
    /*border-color: #fbeed5;*/
}

.admonition.danger {
    color: #b94a48;
    background-color: #f2dede;
    /*border-color: #eed3d7;*/
}

.admonition-title {
    font-weight: bold;
    text-align: left;
}

.headerlink {
    font-family: FontAwesome;
    font-size: 14px;
    display: none;
    padding-left: .5em;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink{
    display:inline-block;
}